{% extends "base.html" %}

{% load staticfiles %}
{% load pages %}
{% load thumbnail %}

{% block heading %}
  <h1>Präventionsrat</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="text-center padding-bottom-2">
        <img class="img-fluid" src="{% static 'img/arbeitskreis/arbeitskreis_header.png' %}" alt="">
      </div>
    </div>
  </div>

  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="nav-item"><a class="nav-link active" href="#wir-sind" aria-controls="wir-sind"
                                                  role="tab"
                                                  data-toggle="tab">Wir
        sind...</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#wir-wollen" aria-controls="wir-wollen"
                                                  role="tab"
                                                  data-toggle="tab">Wir
        wollen...</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#sprich-uns-an" aria-controls="sprich-uns-an"
                                                  role="tab"
                                                  data-toggle="tab">Sprich
        uns an!</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="#als-naechstes" aria-controls="als-naechstes"
                                                  role="tab"
                                                  data-toggle="tab">Als
        nächstes...</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content padding-bottom">
      <div role="tabpanel" class="tab-pane active" id="wir-sind">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Wir sind...</h3>
            <p>
              Der Präventionsrat arbeitet seit 2003 am Thema „strukturelle Prävention von Machtmissbrauch und
              sexualisierter Gewalt“.
            </p>

            <p>
              Der Rat besteht sowohl aus dauerhaft Engagierten als auch aus vorübergehend Interessierten.
            </p>

            <p>
              Einmal im Jahr finden wir zusammen, um Bestehendes weiterzuentwickeln und im Austausch Neues zu entdecken.
            </p>

            <p>
              Unsere Legitimation ziehen wir aus der Akzeptanz im Bund und verzichten dabei bewusst auf eine
              Institutionalisierung.
            </p>

            <p>
              Die Professionalisierung der dauerhaft Engagierten im Thema ist unser Anspruch und befähigt uns zur
              Beratung in Fragen der Intervention und der Prävention.
            </p>

            <p>
              Ergebnisse unserer Arbeit sind z.B. Infomappe, Leitfäden, Interventionspläne,
              Achtung! Anvertraut oder ausgeliefert.“ Austausch- und Infotreffen zur
              Sensibilisierung.
            </p>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="wir-wollen">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Unser Pfadfindergesetz und unsere Versprechen verpflichten uns zur <strong>Achtung
              gegenüber den uns Anvertrauten</strong>. Das schließt grenzverletzendes Verhalten klar
              aus! Zur stetigen Arbeit an diesem Thema hat sich ein Präventionsrat gebildet,
              der nach Innen und Außen tätig ist.</p>

            <p>Der Präventionsrat hat drei Ziele:</p>

            <ul>
              <li>Aufklärung und Sensibilisierung für die Themen Machtmissbrauch und sexuelle Gewalt.</li>

              <li>Hilfestellung für Bundesmitglieder im Umgang mit Vermutungen und konkreten Missbrauchsfällen.</li>

              <li>Ein Klima in unserem Bund, das Betroffenen Mut macht, sich anzuvertrauen, und Tätern und Täterinnen
                klar macht, dass sie nicht auf falsches Schweigen zählen können.
              </li>
            </ul>

            <p>In Aufklärungssituationen gilt bei uns im Gegensatz zur staatlichen
              Rechtsprechung der Grundsatz: Im Zweifel für die Kinder und Jugendlichen. <strong>Im
                Zweifel für die Betroffenen</strong>.</p>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="sprich-uns-an">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Sprich uns an!</h3>
            <p>
              Möchtest du dich jemanden anvertrauen? Du findest <a href="{% url 'arbeitskreis_mitglieder' %}">hinter
              diesem Link</a> eine kurze Vorstellung der Mitglieder
              des Präventionsrates. Du kannst jeden jederzeit anrufen oder eine E-Mail schreiben.
            </p>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="als-naechstes">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Als nächstes...</h3>
            <p>
              <strong>Treffen des Präventionsrates</strong><br>
              08. - 10. Januar 2021
            </p>

            <p>
              <strong>"Achtung! Anvertraut oder ausgeliefert"</strong><br>
              19. - 21. Februar 2021 <br>
              Austausch- und Infotreffen des Präventionsrates
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% comment %}<div class="row">
    <div class="col-md-3 text-center">
      <a href="#" class="btn btn-primary btn-lg active" role="button">
        Wir sind...
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href="#" class="btn btn-primary btn-lg active" role="button">
        Wir wollen...
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href="#" class="btn btn-primary btn-lg active" role="button">
        Sprich uns an!
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href="#" class="btn btn-primary btn-lg active" role="button">
        Als nächstes...
      </a>
    </div>
  </div>{% endcomment %}

{% endblock %}