{% extends "base.html" %}

{% load staticfiles %}
{% load pages %}
{% load thumbnail %}

{% block heading %}
  <h1>Arbeitskreis Macht und Sexualität</h1>
{% endblock %}

{% block content %}
  <div class="text-center">
    <div id="placeholder" style="width: 1440px; height: 1262px; background-color: lightyellow;"></div>
    <!--<img class="img-responsive" src="/media/filer_public/56/9d/569d94f1-4ed2-43a1-b47f-0f8c230009e7/ak_ms.jpg" alt="">-->
  </div>

  <div class="row">
    <div class="col-md-3 text-center">
      <a href="#" class="btn btn-primary btn-lg active" role="button">
        Wir sind...
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href="#" class="btn btn-primary btn-lg active" role="button">
        Wir wollen...
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href="#" class="btn btn-primary btn-lg active" role="button">
        Sprich uns an!
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href="#" class="btn btn-primary btn-lg active" role="button">
        Als nächstes...
      </a>
    </div>
  </div>

{% endblock %}