<!-- Include GMaps iframe: http://www.mikedoesweb.com/2012/convert-tag-to-google-maps-embed-automatically-with-jquery/ -->

{% extends "base.html" %}

{% load staticfiles %}
{% load intern_tags %}

{% block heading %}
  <h1>Termin: Details</h1>
{% endblock %}

{% block content %}
  {# Load files for OSM #}
  <link rel="stylesheet" href="{% static 'assets/leaflet/leaflet.css' %}"/>
  <script src="{% static 'assets/leaflet/leaflet.js' %}"></script>

  <style>
    #map {
      height: 450px;
    }
  </style>

  {% if date %}
    <h3>{{ date.title }}</h3>
    <p>
      {{ date.description }}
    </p>
    <div class="row">
      <div class="col-md-2">Beginn</div>
      <div class="col-md-10">{{ date.start }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Ende</div>
      <div class="col-md-10">{{ date.end }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Ausrichter</div>
      <div class="col-md-10">{{ date.host }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Ort</div>
      <div class="col-md-10">{{ date.location }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Anhang</div>
      <div class="col-md-10">
        {{ date.attachment.extension|faAttachment|safe }}
        <a href="{{ date.attachment.url }}">{{ date.attachment }}</a></div>
    </div>

    <h3>Karte</h3>

    <p>
      Karte für: <span id="map_location"></span>
    </p>

    <div id="map"></div>

    <script>
      var map;
      var ajaxRequest;
      var plotlist;
      var plotlayers = [];

      function initmap(lat, lon) {
        // set up the map
        map = new L.Map('map');

        // create the tile layer with correct attribution
        var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 3, maxZoom: 20, attribution: osmAttrib});

        // start the map in South-East England
        map.setView(new L.LatLng(lat, lon), 16);
        map.addLayer(osm);
        L.marker(lat, lon).addTo(map);
      }

      $.ajax({
        url: "http://nominatim.openstreetmap.org/search?q={{ date.location  }}&format=json&polygon=1&addressdetails=1",
        dataType: 'json',
        complete: function (data) {
          data = data.responseJSON[0];
          $("#map_location").html(data["display_name"]);
          initmap(data["lat"], data["lon"]);
        }
      });
    </script>

  {% else %}
    <p>Es konnte kein passender Termin gefunden werden.</p>
  {% endif %}
{% endblock %}