{% extends "base.html" %}

{% load staticfiles %}
{% load pages %}
{% load thumbnail %}
{% load intern_tags %}

{% block sources %}
  <!-- Setup datatables -->
  <script src="{% static 'assets/datatables/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'assets/datatables/js/dataTables.bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'assets/datatables/css/dataTables.bootstrap.min.css' %}"/>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.datatable').dataTable( {
        "language": {
          "url": "{% static 'assets/datatables/german.json' %}"
        }
      });
    });
  </script>
{% endblock %}

{% block heading %}
  <h1>Zusammenkünfte</h1>
{% endblock %}

{% block content %}
  {% include 'dpb/edit_item.html' with model="intern_date" %}

  <p>Für weitere Details und eventuell vorhandene Anhänge müsst ihr einfach auf den Titel des Termins klicken.</p>

  {% if dates %}
    <table class="table table-hover table-striped table-condensed table-responsive">
      <thead>
        <th>Titel</th>
        <th>Ort</th>
        <th>Beginn</th>
        <th>Ende</th>
      </thead>
      <tbody>
        {% for date in dates %}
        <tr>
          <td><a href="{% url 'intern:date_detail' id=date.id %}">{{ date.title }}</a></td>
          <td>{{ date.location }}</td>
          <td>{{ date.start|date:"j. F Y" }}</td>
          <td>{{ date.end|date:"j. F Y" }}</td>
          <td>{% include 'dpb/edit_item.html' with model="intern_date" id=date.id %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Im Moment gibt es keine Termine und Veranstaltungen.</p>
  {% endif %}
{% endblock %}