{% extends "base.html" %}

{% load staticfiles %}
{% load pages %}
{% load thumbnail %}
{% load intern_tags %}

{% block sources %}
  <!-- Setup datatables -->
  <script src="{% static 'assets/datatables/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'assets/datatables/js/dataTables.bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'assets/datatables/css/dataTables.bootstrap.min.css' %}"/>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.datatable').dataTable( {
        "language": {
          "url": "{% static 'assets/datatables/german.json' %}"
        }
      });
    });
  </script>
{% endblock %}

{% block heading %}
  <h1>Termine</h1>
{% endblock %}

{% block content %}
  {% if user.is_staff %}
    <p>
      <a href="/admin/intern/date/"><i class="fa fa-paperclip fa-lg"></i> Weitere Termine erstellen</a>
    </p>
  {% endif %}

  <p>Für weitere Details und eventuell vorhandene Anhänge müsst ihr einfach auf den Titel des Termins klicken.</p>

  {% if dates %}
    <table class="table table-hover table-striped table-condensed table-responsive datatable">
      <thead>
        <th width="36%">Titel</th>
        <th width="5%">Info</th>
        {% if user.is_staff %}
          <th width="5%"></th>
        {% endif %}
        <th width="15%">Ort</th>
        <th width="15%">Ausrichter</th>
        <th width="12%">Beginn</th>
        <th width="12%">Ende</th>
      </thead>
      <tbody>
        {% for date in dates %}
        <tr>
          <td><a href="{% url 'intern:date_detail' id=date.id %}">{{ date.title }}</a></td>
          <td>
            {% if date.description %}
              <a data-toggle="tooltip" data-placement="top" title="{{ date.description }}"><i class="fa fa-info-circle fa-lg"></i></a>
            {% endif %}
          </td>
          {% if user.is_staff %}
            <td>
              <a href="/admin/intern/date/{{ date.id }}" data-toggle="tooltip" data-placement="top" title="Termin bearbeiten"><i class="fa fa-pencil-square-o fa-lg"></i></a>
              <a href="/admin/intern/date/{{ date.id }}/delete" data-toggle="tooltip" data-placement="top" title="Termin löschen"><i class="fa fa-remove fa-lg"></i></a>
            </td>
          {% endif %}
          <td>{{ date.location }}</td>
          <td>{{ date.host }}</td>
          <td>{{ date.start }}</td>
          <td>{{ date.end }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Im Moment gibt es keine Termine und Veranstaltungen.</p>
  {% endif %}
  <script type="text/javascript">
    // Settings for datatables
    $.extend( $.fn.dataTable.defaults, {
      searching: false,
    });
  </script>

{% endblock %}