<!-- Include GMaps iframe: http://www.mikedoesweb.com/2012/convert-tag-to-google-maps-embed-automatically-with-jquery/ -->

{% extends "base.html" %}

{% load staticfiles %}
{% load intern_tags %}

{% block heading %}
  <h1>Termin: Details</h1>
{% endblock %}

{% block content %}
  <div style="float:right;">
    {% if user.is_staff %}
      <a href="/admin/intern/date/{{ date.id }}" data-toggle="tooltip" data-placement="top" title="Termin bearbeiten"><i class="fa fa-pencil-square-o fa-lg"></i></a>
      <a href="/admin/intern/date/{{ date.id }}/delete" data-toggle="tooltip" data-placement="top" title="Termin löschen"><i class="fa fa-remove fa-lg"></i></a>
    {% endif %}
  </div>
  {% if date %}
    <h3>{{ date.title }}</h3>
    <p>
      {{ date.description }}
    </p>
    {% if date.start %}
      <div class="row">
        <div class="col-md-2">Beginn</div>
        <div class="col-md-10">{{ date.start }}</div>
      </div>
    {% endif %}
    {% if date.end %}
      <div class="row">
        <div class="col-md-2">Ende</div>
        <div class="col-md-10">{{ date.end }}</div>
      </div>
    {% endif %}
    {% if date.host %}
      <div class="row">
        <div class="col-md-2">Ausrichter</div>
        <div class="col-md-10">{{ date.host }}</div>
      </div>
    {% endif %}
    {% if date.location %}
      <div class="row">
        <div class="col-md-2">Ort</div>
        <div class="col-md-10">{{ date.location }}</div>
      </div>
    {% endif %}
    {% if date.attachment %}
      <div class="row">
        <div class="col-md-2">Anhang</div>
        <div class="col-md-10">
          {{ date.attachment.extension|faAttachment|safe }}
          <a href="{{ date.attachment.url }}">{{ date.attachment }}</a></div>
      </div>
    {% endif %}

    {% if date.location %}
      <h3>Karte</h3>
      {% include "show_map.html" with latitude=date.latitude longitude=date.longitude display_name=date.display_name %}
    {% endif %}

  {% else %}
    <p>Es konnte kein passender Termin gefunden werden.</p>
  {% endif %}
{% endblock %}