{% extends "base.html" %}

{% load staticfiles %}
{% load pages %}
{% load thumbnail %}
{% load intern_tags %}

{% block sources %}
  <!-- Setup datatables -->
  <script src="{% static 'assets/datatables/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'assets/datatables/js/dataTables.bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'assets/datatables/css/dataTables.bootstrap.min.css' %}"/>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.datatable').dataTable( {
        "language": {
          "url": "{% static 'assets/datatables/german.json' %}"
        }
      });
    });
  </script>
{% endblock %}

{% block heading %}
  <h1>Dokumente</h1>
{% endblock %}

{% block content %}
  {% if user.is_staff %}
    <p>
      <a href="/admin/filer/folder/"><i class="fa fa-paperclip fa-lg"></i> Weitere Dokumente hochladen</a>
    </p>
  {% endif %}

  {% for folder in folders %}
    {# Compare to folder.parent.name to get the string #}
    {% if folder.parent.name == "Dokumente" and folder.file_count > 0%}
      <h3>{{ folder }}
        <small>
          <a href="{{ folder.get_admin_directory_listing_url_path }}"
             data-toggle="tooltip" data-placement="top" title="Datei zum Ordner hinzufügen">
            <i class="text-right fa fa-paperclip"></i>
          </a>
        </small>
      </h3>

      <table class="table table-hover table-striped table-condensed table-responsive datatable">
        <thead>
          <th width="5%" class="text-center">Typ</th>
          <th width="63%">Name</th>
          <th width="5%">Info</th>
          {% if user.is_staff %}
            <th width="5%"></th>
          {% endif %}
          <th width="10%">Größe</th>
          <th width="12%">Zuletzt geändert</th>
        </thead>
        <tbody>
          {% for file in files %}
            {% ifequal file.folder folder %}
              <tr>
                <td align="center">
                  {{ file.extension|faAttachment|safe }}
                </td>
                <td>
                  <a href="{{ file.url }}">
                    {% if file.name %}
                      {{ file.name }}
                    {% else %}
                      {{ file }}
                    {% endif %}
                  </a>
                </td>
                <td>
                  {% if file.description %}
                    <a data-toggle="tooltip" data-placement="top" title="{{ file.description }}"><i class="fa fa-info-circle fa-lg"></i></a>
                  {% endif %}
                </td>

                {% if user.is_staff %}
                  <td>
                    <a href="{{ file.get_admin_url_path }}" data-toggle="tooltip" data-placement="top" title="Datei bearbeiten"><i class="fa fa-pencil-square-o fa-lg"></i></a>
                    <a href="{{ file.get_admin_url_path }}delete" data-toggle="tooltip" data-placement="top" title="Datei löschen"><i class="fa fa-remove fa-lg"></i></a>
                  </td>
                {% endif %}

                <td>{{ file.size|sizify }}</td>
                <td>{{ file.modified_at|date:"j. F Y" }}</td>
              </tr>
            {% endifequal %}
          {% endfor %}

        </tbody>

      </table>
    {% endif %}

    <script type="text/javascript">
      // Settings for datatables
      $.extend( $.fn.dataTable.defaults, {
        searching: false,
      });
    </script>

  {% endfor %}
{% endblock %}