{% extends "base.html" %}

{% load staticfiles %}
{% load pages %}
{% load thumbnail %}
{% load intern_tags %}

{% block heading %}
  <h1>Dokumente</h1>
{% endblock %}

{% block content %}
  {% if user.is_staff %}
    <p>
      <a href="/admin/filer/folder/"><i class="fa fa-paperclip fa-lg"></i> Weitere Dokumente hochladen</a>
    </p>
  {% endif %}

  {% for folder in folders %}

    {# Compare to folder.parent.name to get the string #}
    {% if folder.parent.name == "Dokumente" and folder.file_count > 0%}
      <h3>{{ folder }}</h3>
      <table class="table table-hover table-striped table-condensed table-responsive">
        <thead>
          <th style="text-align:center;">Typ</th>
          <th>Name</th>
          <th></th>
          <th>Größe</th>
          <th>Zuletzt geändert</th>
          <th></th>
        </thead>
        <tbody>
          {% for file in files %}
            {% ifequal file.folder folder %}
              <tr>
                <td align="center">
                  {% if file.extension == "pdf" %}
                    <i class="fa fa-file-pdf-o fa-lg"></i>
                  {% elif file.extension == "jpg" or file.extension == "png" %}
                    <i class="fa fa-picture-o fa-lg"></i>
                  {% else %}
                    {{ file.extension }}
                  {% endif %}
                </td>
                <td>
                  <a href="{{ file.url }}">
                    {% if file.name %}
                      {{ file.name }}
                    {% else %}
                      {{ file }}
                    {% endif %}
                  </a>
                </td>
                <td>
                  {% if file.description %}
                    <a tabindex="0" data-toggle="popover" title="{{ file }}" data-content="{{ file.description }}"><i class="fa fa-info-circle fa-lg"></i></a>
                  {% endif %}
                </td>
                <td>{{ file.size|sizify }}</td>
                <td>{{ file.modified_at }}</td>
                <td>
                  {% if user.is_staff %}
                    <a href="{{ file.get_admin_url_path }}"><i class="fa fa-pencil-square-o fa-lg"></i></a>
                    <a href="{{ file.get_admin_url_path }}delete"><i class="fa fa-remove fa-lg"></i></a>
                  {% endif %}
                </td>
              </tr>
            {% endifequal %}
          {% endfor %}

        </tbody>

      </table>
    {% endif %}

  {% endfor %}

  <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
  </script>
{% endblock %}