{% extends "base.html" %}

{% load static %}
{% load pages %}
{% load thumbnail %}
{% load intern_tags %}

{% block heading %}
  <h1>Dokumente</h1>
{% endblock %}

{% block content %}
  {% if user.is_staff %}
    <p>
      <a href="/admin/filer/folder/"><i class="fa fa-paperclip fa-lg"></i> Weitere Dokumente hochladen</a>
    </p>
  {% endif %}

  {% for folder in folders %}
    {# Compare to folder.parent.name to get the string #}
    {% if folder.parent.name == "Dokumente" and folder.file_count > 0 %}
      <h3>{{ folder }}
        <small>
          <a href="{{ folder.get_admin_directory_listing_url_path }}"
             data-toggle="tooltip" data-placement="top" title="Datei zum Ordner hinzufügen">
            <i class="text-right fa fa-paperclip"></i>
          </a>
        </small>
      </h3>

      <table class="table table-hover table-striped table-condensed table-responsive datatable">
        <thead>
        <th width="5%" class="text-center">Typ</th>
        <th width="35%">Name</th>
        <th width="40%">Beschreibung</th>
        {% if user.is_staff %}
          <th width="5%"></th>
        {% endif %}
        <th width="10%">Größe</th>
        </thead>
        <tbody>
        {% for file in files %}
          {% if file.folder == folder %}
            <tr>
              <td align="center">
                {{ file.extension|fa_attachment|safe }}
              </td>
              <td>
                <a href="{{ file.url }}">{% if file.name %}{{ file.name }}{% else %}{{ file }}{% endif %}</a>
              </td>
              <td>
                {% if file.description %}
                  {{ file.description|truncatewords_html:10 }}
                  <a data-toggle="tooltip" data-placement="top" title="{{ file.description }}">mehr</a>
                {% endif %}
              </td>

              {% if user.is_staff %}
                <td>
                  <a href="{{ file.get_admin_url_path }}" data-toggle="tooltip" data-placement="top"
                     title="Datei bearbeiten"><i class="fa fa-pencil-square-o fa-lg"></i></a>
                  <a href="{{ file.get_admin_url_path }}delete" data-toggle="tooltip" data-placement="top"
                     title="Datei löschen"><i class="fa fa-remove fa-lg"></i></a>
                </td>
              {% endif %}

              <td>{{ file.size|sizify }}</td>
            </tr>
          {% endif %}
        {% endfor %}

        </tbody>

      </table>
    {% endif %}
  {% endfor %}
{% endblock %}