{% extends "base.html" %}

{% load staticfiles %}
{% load intern_tags %}
{% load thumbnail %}
{% load markdown_deux_tags %}

{% block sources %}
{% endblock %}

{% block heading %}
  <h1>{{ house.name }}</h1>
{% endblock %}

{% block content %}
  {% if house.description %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Beschreibung</h3>
      </div>
    	<div class="panel-body">
    	   {{ house.description|markdown }}
    	</div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-4">
      <h3>Allgemein</h3>
      <table class="table table-hover">
        <tbody>
        {{ house.street|table_row:"Straße"|safe }}
        {% with house.plz|add:" "|add:house.city as plzcity %}
          {{ plzcity|table_row:"PLZ / Ort"|safe }}
        {% endwith %}
        {{ house.state|table_row:"Bundesland"|safe }}
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h3>Kontakt</h3>
      <table class="table table-hover">
      	<tbody>
        {{ house.owner|table_row:"Bundesgruppe des Heimes"|safe }}
        {{ house.contact_name|table_row:"Ansprechpartner für die Vermietung"|safe }}
        {{ house.contact_tel|table_row:"Telefon"|safe }}
        {{ house.contact_email|table_row:"E-Mail"|safe }}
      	</tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h3>Web</h3>
      <table class="table table-hover">
      	<tbody>
        {{ house.website|table_row:"Webseite,url"|safe }}
        {{ house.gmaps_location|table_row:"Google Maps Link,url"|safe }}
        {{ house.osm_location|table_row:"OSM Link,url"|safe }}
      	</tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Allgemein</h3>
      {{ house.street|houseDetails:"Straße:"|safe }}
      <div class="row">
        <div class="col-md-4">
          PLZ, Ort:
        </div>
        <div class="col-md-8">
          {{ house.plz }} {{ house.city }}, {{ house.state }}
        </div>
      </div>
      {{ house.owner|houseDetails:"Name der Gruppe:"|safe }}
      {{ house.accessibility|houseDetails:"Erreichbarkeit:"|safe }}
    </div>
    <div class="col-md-4">
      <h3>Fakten zum Haus</h3>
      <h4>Schlafplätze</h4>
      {{ house.capacity_house|houseDetails:"im Haus:"|safe }}
      {{ house.capacity_outdoor|houseDetails:"außerhalb:"|safe }}
      <h4>Preise</h4>
      {{ house.price_intern|houseDetails:"Pfadfinder:"|safe }}
      {{ house.price_extern|houseDetails:"Externe:"|safe }}
    </div>
    <div class="col-md-4">
      <h3>Kontakt</h3>
      {{ house.contact_name|houseDetails:"Ansprechpartner:"|safe }}
      {{ house.contact_tel|houseDetails:"Telefon:"|safe }}
      <a href="mailto:{{ house.contact_email }}">
        {{ house.contact_email|houseDetails:"E-Mail:"|safe }}
      </a>

      {{ house.gmaps_location|houseDetailsLink:"Google Maps"|safe }}
      {{ house.osm_location|houseDetailsLink:"Open Street Map"|safe }}
      {{ house.website|houseDetailsLink:"Website"|safe }}
    </div>
  </div>

  {% if house.image1 %}
    <h3>Bilder</h3>
    <div class="row">
      <div class="col-md-4">
        <a href="{{ house.image1.url }}">
          <img src="{% thumbnail house.image1 300x200 crop %}" class="img-thumbnail img-responsive" alt="{{ house.image1 }}"/>
        </a>
      </div>
      {% if house.image2 %}
        <div class="col-md-4">
          <a href="{{ house.image2.url }}">
            <img src="{% thumbnail house.image2 300x200 crop %}" class="img-thumbnail img-responsive" alt="{{ house.image2 }}"/>
          </a>
        </div>
      {% endif %}
      {% if house.image3 %}
        <div class="col-md-4">
          <a href="{{ house.image3.url }}">
            <img src="{% thumbnail house.image3 300x200 crop %}" class="img-thumbnail img-responsive" alt="{{ house.image3 }}"/>
          </a>
        </div>
      {% endif %}
    </div>
  {% endif %}

  <h3>Karte</h3>
  {% include "show_map.html" with latitude=house.latitude longitude=house.longitude display_name=house.display_name %}

{% endblock %}