{% extends "base.html" %}

{% load staticfiles %}
{% load intern_tags %}
{% load bootstrap_tags %}

{% block heading %}
  <h1>Häuser und Zeltplätze hinzufügen</h1>
{% endblock %}

{% block content %}
  {% if success %}
    <div class="alert alert-info">
    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    	<strong>Erfolg!</strong> Das Haus wurde erfolgreich hinzugefügt.
    </div>
  {% endif %}

  <!--<form id="contact-form" class="form-horizontal" method="post" action="/email/send/">-->
  <style>
  form .col-md-2, form .col-md-3, form .col-md-4, form .col-md-6 {
    padding-left: 0;
  }
  </style>
  {{ form.non_field_errors }}
  <form action="" method="post">
    {% csrf_token %}

    <h2>Allgemein</h2>
    {{ form.name|form_item|safe }}
    {{ form.situation|form_item|safe }}
    {{ form.street|form_item|safe }}
    <div class="col-md-2">
      {{ form.plz|form_item|safe }}
      </div>
    <div class="col-md-4">
      {{ form.city|form_item|safe }}
    </div>
    <div class="col-md-6">
      {{ form.state|form_item|safe }}
    </div>

    <h2>Schlafmöglichkeiten</h2>
    <div class="col-md-4">
      {{ form.sleep_beds|form_item|safe }}
    </div>
    <div class="col-md-4">
      {{ form.sleep_mattresses|form_item|safe }}
    </div>
    <div class="col-md-4">
      {{ form.sleep_floor|form_item|safe }}
    </div>
    {{ form.sleep_outdoor|form_item|safe }}

    <input type="submit" value="Abschicken" class="btn btn-default">
  </form>

  <script type="application/javascript">
    $(document).ready(function() {
      $(".form-group input").addClass("form-control");
      $(".form-group select").addClass("form-control");
      $(".form-group textarea").addClass("form-control");
    });
  </script>
{% endblock content %}