{% extends "base.html" %}

{% load static %}
{% load pages %}
{% load thumbnail %}
{% load intern_tags %}

{% block heading %}
  <h1>Bündisches Segeln<br><small>Kommentare aus dem DPB</small></h1>
{% endblock %}

{% block content %}

  <div class="well">
    <p>
      "Ich denke, dass die Whydah ein durchaus unterstützenswertes bündisches Projekt ist. Mit einem oberflächlichen und
      bösartigem Blick betrachtet, hat da eine Truppe verantwortungsloser Gesellen ein Schiff im Meer versenkt und macht
      nun unbelehrbar mit einem neuen Schiff weiter wie bisher. Aber so einfach ist es nicht. Zunächst einmal bleibt
      festzuhalten, dass die genaue Unglücksursache von der Bundesstelle für Seeunfalluntersuchung nie aufgeklärt wurde
      und es letztendlich ein "Indizienprozess" bleibt. Auch bei der vorherigen (und ebenfalls nicht unumstrittenen)
      Atlantiküberquerung im Jahre 2005 war die Crew kurz vor Erreichen der Karibik kurz davor, das Schiff wegen eines
      massiven Wassereinbruchs aufzugeben. Im allerletzten Moment wurde dann ein geplatzter Kühlwasserschlauch als Leck
      gefunden und der Törn nahm doch noch ein gutes Ende. Natürlich war die Falado nicht mehr im Neuzustand, aber das
      Prophezeien des baldigen Untergangs gehörte - auch unter Experten - in gewissen Kreisen an der Küste fast schon
      zum guten Ton. Letztendlich hätten wir den (letzten) Atlantiktörn nie gewagt, wenn es nicht auch Expertenstimmen
      gegeben hätte, die ein positiveres Bild vom Bauzustand des Schiffes zeichneten. Ein starrsinniges Ignorieren
      "aller" Fachmeinungen war es jedenfalls nicht. Dass grundsätzlich dem fortschreitenden Alter des Schiffes Rechnung
      getragen werden musste, war klar. So gab es ja einige Wochen vor der Katastrophe im Juni 2013 in Paderborn ein
      sehr vielversprechendes Treffen, in dem Ideen zur langfristigen Sicherung der Bausubstanz diskutiert und
      beschlossen wurden.<br>
      Was die Sicherheit gegen Wassereinbrüche angeht, so spielt die Whydah dennoch in einer ganz anderen Klasse. Sie
      hat einen Stahlrumpf und ist durch Schotten in wasserdichte Abschnitte geteilt. Zwar erfordert auch ein
      Stahlschiff intensive Pflege, aber die "eingebaute" und nie ganzt abzustellende Undichtigkeit eines Holzrumpfes
      fehlt zunächst einmal. In der Presse war zu lesen, dass das neue Schiff bei deutschen Zertifizierungsbehörden
      unbekannt sei. Das stimmt auch. Der Grund dafür ist aber ein anderer, als hier unterstellt wird. Nicht mangelndes
      Interesse an Sicherheitsfragen oder der Wunsch, sich nicht von den Behörden reinreden zu lassen sind die
      Motivation. Vielmehr ist das Schiff in seinem ehemaligen Heimatland Großbritannien von der dortigen Maritime &
      Coastguard Agency (MCA) zertifiziert worden und eine Umzertifizierung nach deutschem Recht würde nur Geld kosten
      und keinen Sicherheitsvorteil bringen. Die Zertifizierung für das jetzige Fahrtengebiet besteht und wird auch
      aufrecht erhalten. Die Erweiterung auf weltweite Fahrt ist in Arbeit und die Maßnahmenliste der MCA dafür ist
      bekannt und wird abgearbeitet. Obwohl das Segeln auf der Falado alles andere als unsicher war, wird auch hier ein
      deutliches Zeichen gesetzt.<br>
      Ein weiterer Punkt, der dem Faladoverein oft vorgehalten wird, ist seine Satzung und der wenig transparente Umgang
      mit Stimmrechten auf der Mitgliederversammlung. Ehrlich gesagt, kann ich persönlich das nicht nachvollziehen. Aus
      meiner Sicht ist der Faladoverein nicht besser oder schlechter als jede andere bündische Gruppierung: wer sich
      einbringt, kann auch mitbestimmen, unabhängig von Stimmrechten. Das Problem liegt - oder besser lag - aus meiner
      Sicht ganz woanders. Auch wenn eine bündische Prägung unweigerlich zu einer demokratischen Gesinnung führen muss,
      so ist doch die Anwendung demokratischer Prinzipien in bündischen Gruppen selbst oft problembehaftet. Wenn
      grundsätzliche Meinungsverschiedenheiten bestehen, so führt die Durchsetzung einer dieser Meinungen per
      demokratischer Abstimmung oft zu einer Spaltung der Gruppe, sofern der Gegenstand der Meinungsverschiedenheit denn
      schwerwiegend genug ist. Beispiele dafür gibt es auch in unserem Bund zur Genüge. Und in einem Beziehungsgeflecht,
      wo Vertrauen und Freundschaft an erster Stelle stehen, kann es ja auch nicht anders sein. Dass es im Falado-Verein
      grundsätzliche Meinungsverschiedenheiten gab, ist nicht zu leugnen. Allerdings hätte Spaltung hier bedeutet, dass
      eine der beiden Gruppen ohne Schiff dagestanden hätte und in einem begrenzten "Markt" bei Null hätte anfangen
      müssen. Das hat die (ja durchaus auch reinigende) Spaltung über Jahre verhindert und natürlich als Konsequenz auch
      Raum für Machtspielchen eröffnet und die Mitgliederversammlung und Stimmrechtsverhältnisse mehr in den Vordergrund
      gerückt, als es der Idee und dem bündischen Geist allgemein gut getan hat. Nachdem mit dem Untergang der Falado
      plötzlich beide "Lager" ohne Schiff dastanden, hat sich diese Spaltung ja auch recht bald vollzogen. Insgesamt
      nehme ich den Verein heute als weitaus harmonischer wahr als noch vor Jahren. Dass nur eine der beiden Gruppen nun
      ein Schiff hat, lag übrigens nicht daran, dass man die Mehrheit in der Mitgliederversammlung oder einen
      finanziellen Vorsprung hatte. Nach dem Untergang der Falado war der Verein praktisch pleite und nur die
      Verankerung in den Gruppen und sehr viel Engagement haben die Neuanschaffung der Whydah rein aus Spendengeldern
      und Darlehen ermöglicht. Dass die Satzung und die Mitgliederversammlung zugunsten eines bündischen Miteinanders in
      den Hintergrund rücken, lässt sich aus meiner Sicht auch aus dem Verlauf der letzten Mitgliederversammlung im
      November 2015 erkennen. Hatte man im Jahr zuvor noch eine Arbeitsgruppe damit beauftragt, als Zeichen des
      Neuanfangs und weil man es wirklich wollte, eine detaillierte neue Satzung auszuarbeiten, so wollte man sich ein
      Jahr später mit diesem Vorschlag nicht einmal im Detail auseinandersetzen, geschweige denn ihm zustimmen. Das war
      natürlich mehr als frustrierend für die wirklich engagierte Arbeitsgruppe, aber aus meiner Sicht dennoch ein gutes
      Zeichen und eine Chance, dass bündisches Miteinander und nicht die Satzung in Zukunft im Vordergrund stehen. Auch
      der DPB lebt nicht von oder durch seine geschriebene Bundesordnung oder gar seine e.V.-Satzung. Und dass unsere
      Mitgliederversammlungen immer nur fünf Minuten dauern ist für mich auch kein bedenkliches Signal, sondern ein
      positives. Deswegen sind die Mitwirkungsmöglichkeiten der einzelnen Gruppen ja nicht beschränkt. In unseren
      Ordnungen steht der Hinweis, dass das geschriebene Wort eigentlich nur für die "schlechten Zeiten" notwendig ist.
      Warum sollte das im Faladoverein nicht auch so werden? Zu wünschen wäre es ihm jedenfalls und die Chance hat er
      aus meiner Sicht verdient.<br>
      Ein letzter Punkt ist noch die Anforderung des Vereins an seine Mitglieder zu längerfristiger Bindung und
      Engagement auch beim Erhalt des Schiffes. Man kann die Whydah eben nicht mieten, sondern nur "Miteigentümer"
      werden. Als ich in Iserlohn Ringvogt war, haben wir unsere Beziehungen zur Falado aufgebaut und intensiviert und
      daher weiß ich, dass es auch für eine Gruppe mit 150 Mitgliedern anspruchsvoll ist, hier dauerhaft Engagement zu
      zeigen. Für einen kleinen Stamm oder Hag kann das schnell Überforderung bedeuten, wenn nicht das Segeln ohnehin
      (ein) Mittelpunkt des Gruppenlebens ist. Wie eine Lösung dafür aussieht, weiß ich auch nicht. Eine Mitgliedschaft
      des Gesamt-DPB statt einzelner Gruppen im Faladoverein ist es sicher nicht. Ich denke, das würde den Verein
      überfordern und auch die emotionale Nähe zwischen Bordgemeinschaft und den Gruppen, die segeln wollen würde
      leiden. Aber ich denke, die DPB-Gruppen, die aktiv im Faladoverein sind, könnten sich innerhalb des DPB durchaus
      besser untereinander vernetzen. Das würde den Zugang zum Verein, z.B. durch Mitsegelmöglichkeiten oder aber die
      Verteilung der "Bauaktivitäten" auf mehr Schultern durchaus erleichtern. Das würde ich für durchaus lohnenswert
      erachten."
    </p>
    <p>Kommentar vom 18.03.2016</p>
  </div class="well">

  <div class="well">
    <p>"Meine Empfehlung an alle Seefrauen und Seemänner lautet:</p>
    <p>Fahrt zum Überlebensfest. Verschafft euch einen Überblick.....losgelöst von der Vergangenheit. Tretet
      selbstbewust und ganz hartnäckig auf. Löchert der Vorstand mit allem was Euch wichtig ist. Lasst Euch nicht
      abspeisen mit Argumenten wie "das haben wir schon immer so gemacht" oder "Freunde brauchen keine Satzung", oder
      "Früher.........sind wir mit dem Shellatlas über die Meere geskippert"."</p>
    <p>Kommentar vom 04.01.2016</p>
  </div>

  <div class="well">
    <p>
      "Beim letzten Überlebensfest, sah das alles nicht mehr ganz so positiv aus.</p>
    Die neue Satzung mit Geschäftsordnung ist mit Schwung und ohne sachliche Diskussion abgeschmettert worden, da sie zu
    viele Vorgaben macht und Bündische das nicht brauchen...<br>
    Dafür kam massiv der Vorschlag, die alte Satzung zu behalten, da sie doch immer gut funktioniert hat.<br>
    Die neue Satzung wurde auch schon deswegen abgelehnt, da in ihr stand, dass Skipper möglichst einen SKS haben
    sollten und selbst mit Bestandsschutz für die alten Skipper und dem Hinweis von Buchse, dass für das
    Sicherheitszertifikat auch zahlreiche Punkte zur Skipper-Qualifikation erfüllt sein müssen, war dies nicht
    mehrheitsfähig.<br>
    Hajü hat sich wieder ganz intensiv an den Diskussionen beteiligt und die guten alten Zeiten beschworen, als der
    Faladokreis ein paderborner Freundeskreis war. Mehrfach musste er "Angriffe“ von aktiven Älteren abwehren, die
    meinten in Sachen Schiff mitreden zu können ;-)<br>
    Einige Gruppen haben immerhin angemerkt, dass sie schon gerne wüssten, wie man Stimmrecht bekommt und was man als
    Bootsmann alles können soll (das stand zum Beispiel auch in der Geschäftsordnung), aber das wurde kaum ernst
    genommen.<br>
    Tja, ich weiß nicht. Das Schiff ist sicher schön und Sascha baut mit sehr viel Elan in Düsseldorf den Innenausbau
    aus Holz. Es soll auch gut segeln, heißt es.  <br>
    Mein Fazit: Vermutlich ein schönes Schiff, dass tolle Segelerlebnisse für Gruppen ermöglicht.<br>
    Beim Thema Sicherheit muss man selbst etwas aufpassen (die Saison über wurde zum Beispiel mit mitgebrachten
    Gaskochern gekocht, da der Herd nur mit (Land-)Strom funktioniert.)<br>
    Mitarbeit ist sicher hoch erwünscht und bestimmt eine gute Sache.<br>
    Ob die Vereinsgeschicke jemals in vertretbare Fahrwasser kommen, bezweifle ich stark und ich würde auch nicht mehr
    mit jedem Skipper fahren...<br>
    Ansonsten bleibt vermutlich eher alles beim Alten mit Hajü, Oliver, Severin als Frontmännern.<br>
    Okay, ich hoffe, ich habe euch nicht mit zu vielen Interna gelangweilt. Tut mir auch leid, dass ich etwas negativ
    geschrieben habe, aber das letzte Ü-Fest hat mich ziemlich demoralisiert, so dass ich nach unendlichen Diskussionen
    irgendwann den Saal verlassen habe. Wäre schön, wenn etwas Jüngere ans Ruder kämen, denn die wollen in der Tat
    hauptsächlich SEGELN!“
    </p>
    <p>Kommentar vom 04.01.2016 </p>
  </div>

  <div class="well">
    <p>
      "Ich war dieses Jahr nicht auf dem Überlebensfest, so dass mein Stand nicht der Aktuellste ist.<br>
      Es ist aber grundsätzlich noch derselbe Verein u.a. mit balo im Vorstand und mit einer neuen Satzung.<br>
      Und hier haben wir auch schon das Hauptproblem und z.B. den Hauptgrund dafür, dass unsere Gruppe rund um Villio
      nun doch kürzlich aus dem Falado-Verein ausgetreten ist.<br>
      Balo geniest einfach kein Vertrauen mehr bei den Alten Säcken, weil er die Falado aus unserer Sicht und wider
      allen Warnungen grob fahrlässig versenkt hat (Vgl.: BSU-Bericht im Anhang), mit dem Leben der Pimpfe zu sorglos
      umgegangen ist, das Vereinsvermögen vernichtet hat (keine Versicherung!) und bis heute keinerlei Reue, Einsicht,
      Schuldeingeständnis o.ä. gezeigt hat... Leider ist unser Freund Buchse (neuer Vorstand, neben Steff und Daniel)
      auch nicht gerade bekannt für seine Besonnenheit, sondern eher für ziemlichen Aktionismus (Am Eisberg anlegen,
      Hebel auf den Tisch = Vollgas usw.). Uns fehlt da allen immer noch ein bisschen die Realitätsnähe und Bodenhaftung
      bei der ein oder anderen Aktion, aber immerhin haben sie es geschafft ein neues Schiff zu kaufen, zu überführen,
      umzubauen und ins Wasser zu bringen. Dafür Respekt und Hut ab!<br>
      Und jetzt die Fakten zur Whydah:<br>
      Es gibt viel Neues und Gutes zu berichten, was z.B. die Sicherheitslage der Whydah, aber auch die Stimmung im
      Verein angeht. U.a. siehe Newsletter weiter unten...<br>
      Es sind sehr viele neue Gesichter am Werk (positiv!) und z.B. Hajü's (bzw. der "Paderborner") Einfluss scheinen
      nur noch marginal zu sein.<br>
      Auch von der Balduinstein hat man sich m.E. nach ausreichend distanziert. Das ganze Missbrauchs-Thema ist, denke
      ich, im Vorstand angekommen und wird nicht zuletzt durch die letzten Verurteilungen alternativlos ernst
      genommen.<br>
    </p>
    <p>Also:<br>
      Sicherheit = aktuell sehr gut.<br>
      Missbrauch = Kein Schiff- oder Vereinsthema (Personenthema - m.E. unverdächtig)<br>
      Vorstand = leider immer noch schwierig...
    </p>
    <p>
      Fazit meinerseits:<br>
      Die paar Alten (Idioten) haben zwar teilweise den Schuss bis heute echt nicht gehört, haben aber insgesamt hat der
      Verein trotzdem toll was auf die Beine gestellt, was mit den alten Differenzen auch irgendwie kaum noch zu tun
      hat. Wenn ich in die neuen Gesichter der letzten zwei Jahre gesehen habe ist mir der immer Gedanke gekommen, dass
      Jugendbewegung ständig auf und ab geht, neu entsteht und sich aus sich selbst heraus erneuern kann. Die Jungen
      haben keinen Bock mehr auf den Zoff der Alten Säcke und sagen dass auch deutlich so. Irgendwann verjährt sowas
      vielleicht, oder überlebt sich selbst?!<br>
      Ich würde dem Schiff in Summe eine Chance geben und dabei genau beobachten, was zum Beispiel aus den Bekenntnissen
      wird, das Schiff jährlich extern überprüfen und zertifizieren zu lassen und dazu noch ein Auge auf die Skipper
      werfen usw.<br>
      Aber meine Pimpfe (und Kinder) würde ich aktuell auf jeden Fall hinschicken! Das ist einfach ein supertolles
      Erlebnis auf einem wunderschönen Schiff! Übrigens auch auf der Werft!<br>
      Voraussetzung: Mindestens zwei erfahrene (!) Segler/Skipper sind mit dabei und es geht in im Sommer in die Ostsee
      und nicht im Winter nach Island<br>
      Ich hoffe, ich konnte Dir weiterhelfen."
    </p>
    <p>Kommentar vom 28.12.2015</p>
  </div>
{% endblock %}