{% extends "base.html" %}
{% block title %}Contact Us{% endblock title %}
{% block content %}
  <form class="form-horizontal" method="post" action="/email/send/">{% csrf_token %}

    <div class="form-group">
      <label class="col-sm-2 control-label">Vorname *</label>
      <div class="col-sm-9">
        <input class="form-control" name="firstname" type="text" placeholder="Vorname" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Nachname *</label>
      <div class="col-sm-9">
        <input class="form-control" name="lastname" type="text" placeholder="Nachname" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">E-Mail *</label>
      <div class="col-sm-9">
        <input class="form-control" name="email" type="email" placeholder="E-Mail" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Betreff *</label>
      <div class="col-sm-9">
        <input class="form-control" name="subject" type="text" placeholder="Betreff" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Sind Sie ein Mensch? *</label>
      <div class="col-sm-9">
        <input class="form-control" name="botcheck" type="text" placeholder="ja" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Ihre Nachricht *</label>
      <div class="col-sm-9">
        <textarea rows="3" class="form-control" name="message" placeholder="Ihre Nachricht" required></textarea>
      </div>
    </div>

    <!--<div class="name">
      <label class="label">Name  <span class="required">*</span></label>
            <span class="span">
              <input name= "firstname" class="inputtext" maxlength="255" size="12" />
              <label class="spanlabel">First</label>
            </span>
            <span class="span">
              <input name= "lastname" class="inputtext" maxlength="255" size="18" />
              <label class="spanlabel">Last</label>
            </span>
    </div>
    <div class="email">
      <label class="label">Email Address  <span class="required">*</span></label>
      <input name="email" class="inputtext" type="text" maxlength="255" size="35" />
    </div>
    <div class="subject">
      <label class="label">Subject  <span class="required">*</span></label>
      <input name="subject" class="inputtext" type="text" maxlength="255" size="45" />
    </div>
    <div class="botcheck">
      <label class="label">You must answer <u>YES</u> to the question below to<br /> approve sending this email.  <span class="required">*</span></label>
      Do you want to send me an email? <input name="botcheck" class="inputtext" type="text" maxlength="5" size="5" />
      <div class="message">
        <label class="label">Message  <span class="required">*</span></label>
        <textarea name="message" class="inputtextarea" rows="11" cols="45"></textarea>
      </div>
      <div class="button">
        <input class="submitform" type="submit" name="submitform" value="Send Message" />
      </div>-->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <button type="submit" class="btn btn-default">Abschicken</button>
        </div>
      </div>
  </form>
{% endblock content %}