{% extends "base.html" %}

{% block sources %}
{% endblock %}

{% block heading %}
  <h1>Links</h1>
{% endblock %}

{% block content %}
  {% include 'dpb/edit_item.html' with model='links_link' %}

  <p>
    Unseren Haftungsausschluss für Links auf externe Webseiten findet ihr
    <a href="{% url 'impressum' %}">in unserem Impressum</a>.
  </p>

  {% if cats %}
    <div class="row">
      {% for cat in cats %}
        <div class="col-md-4">
          <h4>{{ cat.name }}</h4>
          <ul style="padding-bottom:2em;">
          {% for link in links %}
            {% if link.public and link.category == cat %}
              <li><a href="{{ link.website }}" target="_blank">{{ link }}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Im Moment gibt es keine Links.</p>
  {% endif %}
{% endblock %}