{% extends "base.html" %}

{% block sources %}
{% endblock %}

{% block heading %}
  <h1>Links</h1>
{% endblock %}

{% block content %}
  {% include 'dpb/edit_item.html' with model='links_link' %}

  <p>
    Unseren Haftungsausschluss für Links auf externe Webseiten findet ihr
    <a href="{% url 'impressum' %}">in unserem Impressum</a>.
  </p>

  <h2>Gruppen im DPB</h2>

  <div class="row">
    <div class="col-md-6">
      {% for state in states %}
        {% if state != None %}
          <h4>{{ state }}</h4>
          <ul>
            {% for link in links %}
              {% if link.public and link.state == state %}
                <li>
                  <a href="{{ link.website }}" target="_blank">
                    {{ link }}
                    {% if link.city %}
                      ({{ link.city }})
                    {% endif %}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </div>

    <div class="col-md-6">
      {% if cats %}
        {% for cat in cats %}
          {% if cat.name != "Gruppen im DPB" %}
            <h2>{{ cat.name }}</h2>
            <ul style="padding-bottom:2em;">
              {% for link in links %}
                {% if link.public and link.category == cat %}
                  <li><a href="{{ link.website }}" target="_blank">{{ link }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      {% else %}
        <p>Im Moment gibt es keine Links.</p>
      {% endif %}
    </div>

  </div>
{% endblock %}