[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
server = "gunicorn -b 0.0.0.0:8000 dpb.wsgi"

[dev-packages]

[packages]
certifi = "*"
chardet = "*"
django-appconf = "*"
django-autoslug = "*"
django-contact-form = "*"
django-filer = "*"
django-forms-bootstrap = "*"
django-js-asset = "*"
django-markdown-deux = "*"
django-mptt = "*"
django-pagedown = "*"
django-pipeline = "*"
django-tinymce = "*"
easy-thumbnails = "*"
idna = "*"
markdown2 = "*"
psycopg2-binary = "*"
pytz = "*"
requests = "*"
six = "*"
sqlparse = "*"
urllib3 = "*"
Django = "~=2.2.10"
django_polymorphic = "*"
Pillow = "*"
Unidecode = "*"
gunicorn = "*"
markdown = "*"
django-markdownify = "*"

[requires]
python_version = "3.9"
