{% extends "base.html" %}

{% load bootstrap_tags %}
{% load socialaccount %}

{% block heading %}
  <h1>Login</h1>
{% endblock %}

{% block content %}
  {% if form.errors %}
    <p>Der Benutzername und das Passwort passen nicht zusammen.</p>
  {% endif %}

  <p>
    Nach jedem Bundesthing ändern wir das Passwort. Bitte erfragt bei der Kanzlerin oder dem Bundesbeauftragen für
    Internet das aktuelle Passwort.
  </p>

  <div class="row">
    <div class="col-md-6">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="form-actions">
          <input type="submit" value="Login" class="btn btn-outline-dark"/>
          <input type="hidden" name="next" value="{{ next }}"/>
        </div>
      </form>
    </div>
  </div>

  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
    <h3>oder</h3>
    <ul>
      {% for provider in socialaccount_providers %}
        <li><a href="{% provider_login_url provider.id next=next %}" class="btn btn-dark">{{ provider.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% comment %}
  <p>
    <br>
    <a href="{% url 'login:register' %}">Registrieren</a>
  </p>
  {% endcomment %}
{% endblock %}