{% extends "base.html" %}

{% load bootstrap_tags %}

{% block heading %}
  <h1>Login</h1>
{% endblock %}

{% block content %}
  {% if form.errors %}
    <p>Der Benutzername und das Passwort passen nicht zusammen.</p>
  {% endif %}

  <div class="alert alert-info" role="alert">
    <strong>
      Die alten Zugänge wurden aus Sicherheitsgründen nicht für die neue Homepage
      übernommen. Wir werden euch bald darüber informieren, wie ihr an die neuen Zugänge kommt.
    </strong>
  </div>

  <form method="post" action=".">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <div class="form-actions">
      <input type="submit" value="Login" class="btn btn-default"/>
      <input type="hidden" name="next" value="/" />
    </div>
  </form>
  {% comment %}
  <p>
    <br>
    <a href="{% url 'login:register' %}">Registrieren</a>
  </p>
  {% endcomment %}
{% endblock %}