{% extends "base.html" %}

{% load thumbnail %}

{% block heading %}
  <h1>{{ page.title }}</h1>
{% endblock %}

{% block content %}
  <p>
    <div>
      {% if page.image %}
        <a href="{% thumbnail page.image 1920x1080 %}">
          <img src="{% thumbnail page.image 300x200 crop %}" class="img-thumbnail img-responsive img-float-right" alt="{{ page.image }}"/>
        </a>
      {% endif %}
      {{ page.content }}
    </div>
  </p>

  {% if page.attachment %}
    <p>
      <h4>Dateien:</h4>
      <ul>
        <li><a href="">{{ page.attachment }}</a></li>
      </ul>
    </p>
  {% endif %}
{% endblock %}
