$primary-color: #12006b
$grey: #333
$background-color: #f6f6f6

body
  color: $grey
  background-color: $background-color

// Header
header
  h1
    height: 100%
    padding-top: 0.4em

#header-wrapper
  padding: 1em 0

// Style carousel
.carousel-caption
  margin: 0
  padding: 1em
  left: 0
  bottom: 0
  background-color: black
  width: 100%
  height: 5em
  opacity: 0.7

  h3
    color: white
    opacity: 0.9
    margin: 0

.carousel-indicators
  display: none


// Container
.container
  padding-bottom: 1em

.navbar .container
  padding-bottom: 0


.stripe
  background-color: white
  border-color: #eeeeee

// Footer
.stripe .container
  padding-top: 1em