$primary-color: #12006b
$grey: #333
$background-color: #f6f6f6

body
  color: $grey
  background-color: $background-color

.stripe
  background-color: white
  border-color: #eeeeee

// Header
header
  h1
    height: 100%
    padding-top: 0.4em

#header-wrapper
  padding: 1em 0

// Container
.container
  padding-bottom: 1em

.row
  padding-bottom: 1em

.navbar .container
  padding-bottom: 0

// Footer
.stripe .container
  padding-top: 1em

// Owl Carousel
#owl-demo .item img
  display: block
  width: 100%
  height: auto

/* Make footer sticky */
/* Sticky footer styles */
html
  position: relative
  min-height: 100%

#main
  /* Margin bottom by footer height */
  @media only screen and (min-width: 1000px)
    margin-bottom: 125px

.footer-wrapper
  margin-top: 50px

  @media only screen and (min-width: 1000px)
    position: absolute
    bottom: 0
    width: 100%
    /* Set the fixed height of the footer here */
    height: 125px
/* END Make footer sticky */