$primary-color: #12006b
$grey: #333
$background-color: #f6f6f6
$navbar-height: 80px
$footer-height: 150px

body
  color: $grey
  background-color: $background-color

hr
  margin: 2em 0

// Extend bootstrap
@media (min-width: 1500px)
  .container
    width: 1470px

// Header
header
  h1
    height: 100%
    padding-top: 0.4em

#header-wrapper
  padding: 1em 0


// Navbar
.navbar-nav > li > a, .navbar-brand, .navbar-toggle
  padding-top: 0
  padding-bottom: 0
  line-height: $navbar-height

.navbar-toggle
  height: $navbar-height
  line-height: $navbar-height

@media (max-width: 767px)
  .navbar-nav > li > a
    line-height: 20px
    padding-top: 10px
    padding-bottom: 10px

.navbar-brand
  height: $navbar-height

.navbar-brand
  padding-left: 1em
  img
    padding: 0.1em 1em


// Container
.container
  padding-bottom: 1em

.row
  padding-bottom: 1em

.navbar .container
  padding-bottom: 0

.stripe
  background-color: white
  border-color: #eeeeee


// Footer
.stripe .container
  padding-top: 1em

.footer-wrapper
  box-shadow: 0 1px 2px #aaa

footer .row
  padding-bottom: 0

// Owl Carousel
#dpb-carousel .item img
  display: block
  width: 100%
  height: auto

#owl-container
  padding-bottom: 0


/* Make footer sticky */
/* Sticky footer styles */
html
  position: relative
  min-height: 100%

#main
  /* Margin bottom by footer height */
  @media only screen and (min-width: 1000px)
    margin-bottom: $footer-height

.footer-wrapper
  margin-top: 50px

  @media only screen and (min-width: 1000px)
    position: absolute
    bottom: 0
    width: 100%
    /* Set the fixed height of the footer here */
    height: $footer-height
/* END Make footer sticky */