{% extends "base.html" %}

{% load bootstrap_tags %}
{% load markdownify %}

{% block heading %}
  <h1>{{ post.title }}</h1>
  <h4>
    <small>
      {{ post.created|date:"j. N Y" }}{% if post.author %} von {{ post.author }}{% endif %}
    </small>
  </h4>
{% endblock %}

{% block content %}
  {{ post.content|markdownify|safe }}

  {% if post.file %}
    <div style="margin-top: 1em">
      <h4>Anhang</h4>
      <a href="{{ post.file.url }}">{{ post.file }}</a>
    </div>
  {% endif %}

  {% include 'dpb/edit_item_generic.html' with model="blog_post" id=post.id %}
{% endblock %}
