{% extends "base.html" %}

{% load markdown_deux_tags %}
{% load intern_tags %}

{% block sources %}
{% endblock %}

{% block heading %}
  <h1>Mädchenbund Intern</h1>
{% endblock %}

{% block content %}
  <h4>Dokumente</h4>
  {% for doc in documents %}
    <ul class="list-group">
      <li class="list-group-item">
        <a href="{{ doc.file.url }}">
          {{ doc.file|extension|fa_attachment|safe }}
          <strong>{{ doc.title }}</strong>
        </a>
        <span class="pull-right text-muted">
          {{ doc.file|filename }}
        </span>
        {% if doc.description %}
          <br><br>
          {{ doc.description|markdown|safe }}
        {% endif %}
      </li>
    </ul>
  {% endfor %}

  {% if user.is_staff %}
  <div class="text-right">
    <a href="{% url 'admin:index' %}maedchenbund/document">Dokumente bearbeiten</a>
  </div>
  {% endif %}
{% endblock %}