<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  {% load staticfiles %}
  {% load pages %}

  <!-- Vendor Stylesheets -->
  <link rel="stylesheet" href="{% static 'assets/fontawesome/css/fontawesome.min.css' %}"/>

  <!-- Own Stylesheets -->
  <link rel="stylesheet" href="{% static 'styles/style.css' %}"/>

  <script src="{% static 'jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static "bootstrap/bootstrap.bundle.min.js" %}"></script>

  <!-- Own Javascript -->
  <script type="text/javascript">
      $(document).ready(function () {
          // Enable Popovers and tooltips
          $('[data-toggle="popover"]').popover();
          $('[data-toggle="tooltip"]').tooltip();
      });
  </script>
  <!-- None -->

  {# Reserved for scripts and stylesheets #}
  {% block sources %}
  {% endblock %}

  <link rel="icon" href="{% static 'img/favicon.ico' %}">

  <title>Deutscher Pfadfinderbund</title>
</head>

<body role="document">
<!-- navbar -->
<nav class="navbar navbar-dark navbar-expand-xl bg-dark mb-3">
  <div class="container-xl">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
      <img height="50" class="mr-3" src="{% static 'img/lilie100.png' %}" alt="Bundeslilie"/>
      DPB
    </a>

    <button type="button" class="navbar-toggler border-0" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             data-toggle="dropdown" href="#" id="themes" role="button"
             aria-haspopup="true" aria-expanded="false">
            Über den DPB
          </a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a class="dropdown-item" href="{% url 'dpb' %}">Der Deutsche Pfadfinderbund</a></li>
            <li><a class="dropdown-item" href="{% url 'bundesordnung' %}">Bundesordnung</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'pfadfinder' %}">Pfadfinder und
              bündische Jugend</a></li>
            <li><a class="dropdown-item" href="{% url 'arbeitskreis' %}">Präventionsarbeit</a>
            </li>
          </ul>
        </li>

        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Infos <span
                class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a class="dropdown-item" href="{% url 'intern:dates' %}">Zusammenkünfte</a></li>
              <li><a class="dropdown-item" href="{% url 'intern:sailing' %}">Bündisches Segeln</a></li>
              <li><a class="dropdown-item" href="{% url 'blog_page' %}">Aktuelles</a></li>
              <li><a class="dropdown-item" href="{% url 'blog_themen' %}">Themen</a></li>
              <li><a class="dropdown-item" href="{% url 'bundesgilde' %}">Die Bundesgilde</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
              Inhalte
            </a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a class="dropdown-item" href="{% url 'maps:index' %}">Übersichtskarte</a></li>
              <li><a class="dropdown-item" href="{% url 'intern:houses' %}">Häuser und Zeltplätze</a></li>
              <li><a class="dropdown-item" href="{% url 'intern:documents' %}">Dokumente</a></li>
              <li><a class="dropdown-item" href="{% url 'evening_program:index' %}">Heimabendprogramme</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
              Bundesarchiv
            </a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a class="dropdown-item" href="{% url 'archive:index' %}">Übersicht</a></li>
              <li><a class="dropdown-item" href="{% url 'archive:search' %}">Online-Katalog</a></li>
              <li><a class="dropdown-item" href="{% url 'archive:send_in' %}">Uploadbereich</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
              Präventionsrat
            </a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a class="dropdown-item" href="{% url 'intern:arbeitskreis' %}">Überblick</a></li>
              <li>
                <a class="dropdown-item"
                   href="/filer/filer/1578778455/765/">
                  Schutzkonzept
                </a>
              </li>
              <li><a class="dropdown-item" href="{% url 'arbeitskreis_mitglieder' %}">Mitglieder:innen</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="digital">
              Digitales
            </a>
            <ul class="dropdown-menu" aria-labelledby="digital">
              <li><a class="dropdown-item" href="{% url 'intern:calendar' %}">Kalender</a></li>
            </ul>
          </li>
        {% endif %}

        <li class="nav-item"><a class="nav-link" href="{% url 'kontakt' %}">Kontakt</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'links:index' %}">Links</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {#            <li><a href="{% url 'feedback:index' %}"><button type="button" class="btn btn-primary">Feedback geben</button></a></li>#}
        {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Verwaltung </a>
            <ul class="dropdown-menu">
              {% if user.is_staff %}
                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Adminbereich</a></li>
                <li role="separator" class="dropdown-divider"></li>
              {% endif %}
              <li class="dropdown-item">Eingeloggt als {{ user }}</li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Ausloggen</a></li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div id="main">
  <div class="container-xl" id="owl-container">
    {% block carousel %}{% endblock %}
  </div>

  <div class="container-xl">
    {% block heading %}{% endblock %}
  </div>

  <div class="container-xl" role="main">
    {% block content %}{% endblock %}
  </div>
</div>

<div class="footer-wrapper">
  <footer class="stripe">
    <div class="container">
      {% include 'footer.html' %}
    </div>
  </footer>
</div>

</body>
</html>
