{% extends "base.html" %}

{% load staticfiles %}
{% load pages %}
{% load thumbnail %}

{% block heading %}
  <h1>Unsere Bundesordnung</h1>
{% endblock %}

{% block content %}
  <p>
    In diesem Abschnitt geben wir Einblick in unsere Bundesordnung. Hier sind die Grundlagen des Bundes in Worte gefasst.
  </p>

  {% get_pages '/bundesordnung/' as pages %}
    {% for page in pages %}

      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="{{ page.url }}">
            <img src="{% thumbnail page.image 200x133 crop %}" class="img-thumbnail img-responsive margin-top-10px" alt="{{ page.image }}"/>
          </a>
        </div>
        <div class="col-md-10">
          <h4>{{ page.title }}</h4>
          <p>
            {{ page.content|striptags|truncatewords:50 }}
          </p>
          <p>
            <a href="{{ page.url }}">
              <button type="button" class="btn btn-default btn-sm">Weiterlesen</button>
            </a>
          </p>
        </div>
      </div>

    {% endfor %}
{% endblock %}