{% load staticfiles %}

<!-- Setup datatables -->
<script src="{% static 'assets/datatables/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'assets/datatables/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/datatables-naturalsort/natural.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/datatables/css/dataTables.bootstrap.min.css' %}"/>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datatable').dataTable({
            "language": {
                "url": "{% static 'assets/datatables/german.json' %}"
            },
            columnDefs: [
                {type: 'natural', targets: '_all'}
            ]
        });
        $.extend($.fn.dataTable.defaults, {
            searching: false
        });
    });
</script>