{% load staticfiles %}

<!-- Setup datatables -->
<script src="{% static 'assets/datatables/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'assets/datatables/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/datatables-naturalsort/natural.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/datatables/css/dataTables.bootstrap.min.css' %}"/>
<script type="text/javascript">
    $.extend($.fn.dataTable.defaults, {
        searching: false,
        columnDefs: [
            {type: 'natural', targets: '_all'}
        ],
        "language": {
            "url": "{% static 'assets/datatables/german.json' %}"
        }
    });

    $(document).ready(function () {
        $('.datatable').dataTable({
            "pageLength": 20,
            "searching": true,
            "stateSave": true
        });
    });
</script>