<div class="row justify-content-between align-items-center">
  <div class="col-xs-4">
    <h4>Deutscher Pfadfinderbund</h4>
    <p style="padding-bottom: 0;">
      Deutscher Pfadfinderbund e.V.<br>
      Fidicinstr. 42<br>
      10965 Berlin
    </p>
  </div>
  <p>&nbsp;</p>
  <div class="col-xs-8 text-right">
    <a class="btn btn-link" href="{% url 'index' %}">Home</a>
    <a class="btn btn-link" href="{% url 'kontakt' %}">Kontakt</a>
    <a class="btn btn-link" href="{% url 'datenschutz' %}">Datenschutz</a>
    <a class="btn btn-link" href="{% url 'impressum' %}">Impressum</a>
  </div>
</div>