<div class="row justify-content-between align-items-center">
  <div class="col-xs-4">
    <div class="h4">Deutscher Pfadfinderbund</div>
    <adress style="padding-bottom: 0;" aria-label="Anschrift">
      Deutscher Pfadfinderbund e.V.<br>
      Baueshof 3<br>
      99834 Gerstungen OT Marksuhl
    </adress>
  </div>
  <nav aria-label="Nützliche Links" role="navigation" class="col-xs-8 text-right" >
    <a class="btn btn-link" href="{% url 'index' %}">Home</a>
    <a class="btn btn-link" href="{% url 'kontakt' %}">Kontakt</a>
    <a class="btn btn-link" href="{% url 'datenschutz' %}">Datenschutz</a>
    <a class="btn btn-link" href="{% url 'impressum' %}">Impressum</a>
  </nav>
</div>
