<div class="row">
  <div class="col-md-6">
    <h4>Deutscher Pfadfinderbund</h4>
    <p style="padding-bottom: 0;">
      Deutscher Pfadfinderbund e.V.<br>
      Fidicinstr. 42<br>
      10965 Berlin
    </p>
    <p style="padding-bottom: 0;">
      <a href="{% url 'kontakt' %}">Kontakt</a> zum DPB
    </p>
  </div>
  <div class="col-md-6">
    <h4>Allgemeine Informationen</h4>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'kontakt' %}">Kontakt</a></li>
      <li><a href="{% url 'impressum' %}">Impressum und Datenschutz</a></li>
    </ul>
    <p style="padding-bottom: 0;">
      Diese Seite verwendet <a href="{% url 'impressum' %}#piwik">Piwik</a> zur anonymen Erfassung von Statistiken.
    </p>
  </div>
</div>