{% extends "base.html" %}

{% block carousel %}
  {% include "owlcarousel.html" %}
{% endblock %}

{% block heading %}
  <h1>Deutscher Pfadfinderbund</h1>
{% endblock %}

{% block content %}
  <p>
    Der Deutsche Pfadfinderbund (DPB) ist ein unabhängiger, interkonfessioneller und bündisch geprägter Pfadfinderbund. Er dient gemeinnützigen Zwecken und wird ehrenamtlich getragen. Der Bund ist Mitglied des Ringes junger Bünde (RjB).
  </p>
  <p>
    Der Deutsche Pfadfinderbund will seine jungen Menschen vor einseitiger Beeinflussung bewahren, sie jedoch zur Kritikfähigkeit erziehen und ihnen zur Selbstentwicklung ihrer Anlagen Wege weisen, die sie zu weltoffenen, selbständig denkenden Menschen und mündigen Staatsbürgern werden lässt. Wegweiser hierfür bilden Gesetz und Versprechen der Pfadfinder sowie die Meißnerformel.
  </p>
  <p>
    In der Erkenntnis, dass das Wesentliche im Zusammenleben der Menschen nicht die Betonung des Trennenden, sondern die des Gemeinsamen und die Achtung vor der freien, menschlichen Persönlichkeit ist, sieht der Deutsche Pfadfinderbund eine seiner gesellschaftlichen Aufgaben darin, eine demokratische Gesinnung zu fördern und totalitären Bestrebungen entgegenzuwirken.
  </p>

  <div class="row">
    <div class="col-md-4">
      {% lorem %}
    </div>
    <div class="col-md-4">
      {% lorem %}
    </div>
    <div class="col-md-4">
      {% lorem %}
    </div>
  </div>
{% endblock %}
