{% extends "base.html" %}

{% load static %}
{% load pages %}

{% block carousel %}
  {% include "owlcarousel.html" %}
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="alert alert-primary" role="alert">
      <p>
        Das Bundeslager steht an! Teile nun auch du eine Nachricht mit dem Bund 💚
      </p>
      <a class="btn btn-outline-secondary" href="{% url 'vorfreude:index' %}">Los geht's</a>
    </div>
  {% endif %}
  <hr>
  <div class="row justify-content-md-center">
    <img class="img-fluid col-md-8" src="{% static 'img/schriftzug-dpb.svg' %}" alt="Schriftzug des DPB">
  </div>

  <p>
    Der Deutsche Pfadfinderbund (DPB) ist ein unabhängiger, konfessionell nicht gebundener und bündisch geprägter
    Pfadfinderbund.
    Er dient gemeinnützigen Zwecken und wird ehrenamtlich getragen. Der Bund ist Mitglied des Ringes junger Bünde (RjB).
  </p>
  <p>
    Der Deutsche Pfadfinderbund will seine jungen Menschen vor einseitiger Beeinflussung bewahren, sie jedoch zur
    Kritikfähigkeit erziehen und ihnen zur Selbstentwicklung ihrer Anlagen Wege weisen, die sie zu weltoffenen,
    selbständig denkenden Menschen und mündigen Staatsbürgern werden lässt. Wegweiser hierfür bilden Gesetz und
    Versprechen der Pfadfinder sowie die Meißnerformel.
  </p>
  <p>
    In der Erkenntnis, dass das Wesentliche im Zusammenleben der Menschen nicht die Betonung des Trennenden, sondern die
    des Gemeinsamen und die Achtung vor der freien, menschlichen Persönlichkeit ist, sieht der Deutsche Pfadfinderbund
    eine seiner gesellschaftlichen Aufgaben darin, eine demokratische Gesinnung zu fördern und totalitären Bestrebungen
    entgegenzuwirken.
  </p>

  <hr>
  {# Preview Row 1 #}
  <div class="row" style="padding-bottom:0;">
    {# Der Deutsche Pfadfinderbund #}
    <section class="col-md-6">
      <h3>Unsere Bundesordnung</h3>
      <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-6">
          <a href="{% url 'bundesordnung' %}">
            <img src="{% static 'img/bundesordnung_200px.png' %}" class="img-thumbnail img-fluid margin-top-10px"
                 alt="Bundesordnung"/>
          </a>
        </div>

        <div class="col-md-8">
          {% get_pages '/bundesordnung/' as pages %}
          {% for page in pages %}
            <h4>{{ page.title }}</h4>
            <p>
              {{ page.content|striptags|truncatewords:15 }}<br>
              <a class="btn btn-sm btn-link" href="{{ page.url }}">Mehr</a>
            </p>
          {% endfor %}
        </div>
      </div>
    </section>

    {# Was sind bündische Pfadfinder? #}
    <div class="col-md-6">
      <h3>Pfadfinder und bündische Jugend</h3>
      <section class="row" style="padding-bottom: 0;">
        <div class="col-md-4 col-sm-5 col-xs-6">
          <a href="{% url 'pfadfinder' %}">
            <img src="{% static 'img/schweden2011_200px.jpg' %}" class="img-thumbnail img-fluid margin-top-10px"
                 alt="Schweden 2011"/>
          </a>
        </div>

        <div class="col-md-8">
          {% get_pages '/pfadfinder/' as pages %}
          {% for page in pages %}
            <h4>{{ page.title }}</h4>
            <p>
              {{ page.content|striptags|truncatewords:15 }}<br>
              <a class="btn btn-sm btn-link" href="{{ page.url }}">Mehr</a>
            </p>
          {% endfor %}
        </div>
      </section>
    </div>
  </div>

  {# Preview Row 2 #}
  <div class="row">
    <section class="col-md-6">
      <h3>Der Deutsche Pfadfinderbund</h3>
      <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-6">
          <a href="{% url 'dpb' %}">
            <img src="{% static 'img/bundeslager2013_200px.jpg' %}" class="img-thumbnail img-fluid margin-top-10px"
                 alt="Bundeslager 2013"/>
          </a>
        </div>

        <div class="col-md-8">
          {% get_pages '/dpb/' as pages %}
          {% for page in pages %}
            <h4>{{ page.title }}</h4>
            <p>
              {{ page.content|striptags|truncatewords:15 }}<br>
              <a class="btn btn-sm btn-link" href="{{ page.url }}">Mehr</a>
            </p>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="col-md-6">
      <h3>Präventionsarbeit im DPB</h3>
      <p class="mb-0">
        Unser Pfadfindergesetz und unsere Versprechen verpflichten uns zur Achtung gegenüber den uns Anvertrauten und
        Treue zu halten unseren Schwestern und Brüder.
        Das schließt grenzverletzendes Verhalten klar aus! Zur stetigen Arbeit an diesem Thema hat sich ein
        Präventionsrat gebildet, der nach innen und außen tätig ist.
      </p>
      <a class="btn btn-link" href="/arbeitskreis">Mehr</a>
      <div class="row">
        <div class="col-md-4">
          <a class="d-flex" href="{% url 'arbeitskreis' %}">
            <img src="{% static 'img/arbeitskreis/arbeitskreis_header.png' %}"
                 class="img-thumbnail img-fluid margin-top-10px"
                 alt="Schlaglicht Illustration mit der Aufschrift: Der Wölfling folgt dem Altworlf nach,... doch nicht überall hin!"/>
          </a>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
