{% load staticfiles %}

<script src="{% static 'assets/owl-carousel/owl.carousel.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/owl-carousel/owl.carousel.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/owl-carousel/owl.theme.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/owl-carousel/owl.transitions.css' %}"/>

<div id="dpb-carousel" class="owl-carousel owl-theme">
  <div class="item"><img src="{% static 'img/carousel/bundeslager2015_280px.jpg' %}" alt="Bundeslager2015"></div>
    <div class="item"><img src="{% static 'img/carousel/irland2012_280px.jpg' %}" alt="Irland 2012, JS Hohenstaufen und MS Sturmvögel"></div>
</div>

<script>
  $(document).ready(function() {
    $("#dpb-carousel").owlCarousel({
      navigation: false, // Show next and prev buttons
      navigationText: ["Zurück", "Weiter"],
      slideSpeed: 200,
      paginationSpeed: 800,
      singleItem: true,
      autoPlay: 8000,
      transitionStyle: "fade",
    });
  });
</script>