{% load static %}

{% if not latitude %}
  <p>
    Es konnte leider keine Karte generiert werden, da die Standortangaben dafür nicht ausreichen
    oder der Ort nicht gefunden werden konnte.
  </p>
{% else %}
  {# Load files for OSM #}
  <script src="{% static 'mapbox/mapbox.js' %}"></script>
  <link href="{% static 'mapbox/mapbox.css' %}" rel='stylesheet'/>
  <script src="{% static 'leaflet-fullscreen/Leaflet.fullscreen.min.js' %}"></script>
  <link href="{% static 'leaflet-fullscreen/Leaflet.fullscreen.css' %}" rel='stylesheet'/>

  <style>
    {% if height %}
        #map {
            height: {{ height }};
        }
    {% else %}
        #map {
            height: 450px;
        }
    {% endif %}
  </style>

  <script>
      function mapbox(lat, lon, display_name) {
          L.mapbox.accessToken = 'pk.eyJ1IjoibjJvIiwiYSI6ImNpZWd6c2NrMDAwMHBzd204NW41bmFsNHUifQ.XstEiEGH9bP2wasGOOVp4g';
          L.mapbox.config.FORCE_HTTPS = true;

          var map = L.map('map', {
              center: [lat, lon],
              zoom: 16,
              layers: [L.mapbox.tileLayer('mapbox.streets')],  // Set default map
              maxZoom: 19,
              minZoom: 0,
              fullscreenControl: true,
          });

          // Add marker
          L.marker([lat, lon]).addTo(map);

          // Group layers
          var baseMaps = {
              "Mapbox": L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'),
              // "OSM": L.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"),
              "Zum Wandern und Fahrrad fahren": L.mapbox.styleLayer('mapbox://styles/mapbox/outdoors-v11'),
              "Satellit mit Straßen": L.mapbox.styleLayer('mapbox://styles/mapbox/satellite-streets-v11')

          };

          // Add group layers to map
          L.control.layers(baseMaps).addTo(map);

          $("#map_location").html("Berechneter Standort: " + display_name);
      }

      $(document).ready(function () {
          mapbox({{ latitude|stringformat:"f" }}, {{ longitude|stringformat:"f" }}, "{{ display_name }}");
      })
  </script>

  <p>
    Der genaue Standort des Lagerplatzes kann abweichen, da die Position aus den gegebenen Informationen der Datenbank
    berechnet wird.
  </p>
  <div id="map"></div>
  <p>
    <span id="map_location"><i class="fa fa-refresh fa-spin"></i> Karte wird geladen...</span>
  </p>
{% endif %}

