{% load static %}

{% if not latitude %}
  <p>
    Es konnte leider keine Karte generiert werden, da die Standortangaben dafür nicht ausreichen
    oder der Ort nicht gefunden werden konnte.
  </p>
{% else %}
  {# Load files for OSM #}
  <script src="{% static 'leaflet/leaflet.js' %}"></script>
  <link href="{% static 'leaflet/leaflet.css' %}" rel='stylesheet'/>
  <script src="{% static 'leaflet-fullscreen/Leaflet.fullscreen.min.js' %}"></script>
  <link href="{% static 'leaflet-fullscreen/Leaflet.fullscreen.css' %}" rel='stylesheet'/>

  <style>
    {% if height %}
        #map {
            height: {{ height }};
        }
    {% else %}
        #map {
            height: 450px;
        }
    {% endif %}
  </style>

  <script>
      document.addEventListener("DOMContentLoaded", () => {
          const lat = {{ latitude|stringformat:"f" }}
          const lon = {{ longitude|stringformat:"f" }}
          const display_name = "{{ display_name }}"
          const openStreetMap = L.tileLayer("https://tile.openstreetmap.de/{z}/{x}/{y}.png", {
              maxZoom: 19,
              attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
          });

          const map = L.map('map', {
              center: [lat, lon],
              zoom: 16,
              layers: [openStreetMap],  // Set default map
              maxZoom: 19,
              minZoom: 0,
              fullscreenControl: true,
          });

          L.marker([lat, lon]).addTo(map);

          document.getElementById("map_location").innerHTML = "Berechneter Standort: " + display_name;
      })
  </script>

  <p>
    Der genaue Standort des Lagerplatzes kann abweichen, da die Position aus den gegebenen Informationen der Datenbank
    berechnet wird.
  </p>
  <div id="map"></div>
  <p>
    <span id="map_location"><i class="fa fa-refresh fa-spin"></i> Karte wird geladen...</span>
  </p>
{% endif %}

