{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap_tags %}

{% block heading %}
  <h1>Kontakt</h1>
{% endblock heading %}

{% block content %}

  <p>
    Hier hast du die Möglichkeit uns eine E-Mail zu senden. Bitte fülle dafür alle Felder aus. Wir werden uns dann
    bei dir melden!
  </p>

  <!--<form id="contact-form" class="form-horizontal" method="post" action="/email/send/">-->
  <form action="" method="post">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <input type="submit" value="Abschicken" class="btn btn-outline-dark">
  </form>
{% endblock content %}