{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap_tags %}

{% block heading %}
  <h1>Kontakt</h1>
{% endblock heading %}
{% block content %}

  <p>
    Hier hast du die Möglichkeit uns eine E-Mail zu senden. Bitte fülle dafür alle Felder aus. Wir werden uns dann
    bei dir melden!
  </p>

  <!--<form id="contact-form" class="form-horizontal" method="post" action="/email/send/">-->
  <form action="" method="post">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <input type="submit" value="Abschicken" class="btn btn-default">
  </form>

    <!--<div id="firstname-div" class="form-group">
      <label class="col-sm-2 control-label">Vorname *</label>
      <div class="col-sm-9">
        <input id="firstname" class="form-control" name="firstname" type="text" placeholder="Vorname" required>
      </div>
    </div>

    <div id="lastname-div" class="form-group">
      <label class="col-sm-2 control-label">Nachname *</label>
      <div class="col-sm-9">
        <input id="lastname" class="form-control" name="lastname" type="text" placeholder="Nachname" required>
      </div>
    </div>

    <div id="email-div" class="form-group">
      <label class="col-sm-2 control-label">E-Mail *</label>
      <div class="col-sm-9">
        <input id="email" class="form-control" name="email" type="email" placeholder="E-Mail" required>
      </div>
    </div>

    <div id="subject-div" class="form-group">
      <label class="col-sm-2 control-label">Betreff *</label>
      <div class="col-sm-9">
        <input id="subject" class="form-control" name="subject" type="text" placeholder="Betreff" required>
      </div>
    </div>

    <div id="botcheck-div" class="form-group">
      <label class="col-sm-2 control-label">Bist du ein Mensch? *</label>
      <div class="col-sm-9">
        <input id="botcheck" class="form-control" name="botcheck" type="text" placeholder="ja" required>
      </div>
    </div>

    <div id="captcha-div" class="form-group">
      <label class="col-sm-2 control-label">Bist du ein Mensch? *</label>
      <div class="col-sm-9">
        <input id="captcha" class="form-control" name="captcha" type="" required>
      </div>
    </div>

    <div id="message-div" class="form-group">
      <label class="col-sm-2 control-label">Deine Nachricht *</label>
      <div class="col-sm-9">
        <textarea id="message" rows="3" class="form-control" name="message" placeholder="Deine Nachricht" required></textarea>
      </div>
    </div>-->

    <!--<div class="form-group">
      <div class="col-sm-offset-2 col-sm-9">
        <button id="submit" class="btn btn-default">Abschicken</button>
      </div>
    </div>-->
 <!-- </form>-->

{% endblock content %}