{% extends "base.html" %}

{% load staticfiles %}

{% block heading %}
  <h1>Deutschlandkarte mit unseren Gruppen</h1>
{% endblock %}

{% block sources %}
{% endblock %}

{% block content %}
  <p>
    Hier ist eine interaktive Deutschlandkarte mit den Gruppierungen unseres Bundes. Fehlt eine Einheit? Dann hilf uns,
    indem du die entsprechende Gruppe hinzufügst!
  </p>
  <p class="padding-bottom">
    <a href="{% url 'maps:add' %}" class="btn btn-primary">Neue Gruppe eintragen</a>
  </p>


{% endblock %}