{% extends "base.html" %}

{% load static %}

{% block heading %}
  <h1>Übersichtskarte</h1>
{% endblock %}

{% block sources %}
{% endblock %}

{% block content %}
  <p>
    Hier entsteht eine interaktive Deutschlandkarte mit den Gruppierungen unseres Bundes. Fehlt eine Einheit? Dann hilf
    uns,
    indem du die entsprechende Gruppe hinzufügst!
  </p>
  <div class="alert alert-info" role="alert">
    Die Daten wurden mittlerweile an rüssel übermittelt. Alles, was ihr nun noch
    hier eintragt, erscheint nicht mehr in der Kompassnadel oder ihr hinterlasst
    uns kurz den Hinweis, dass ihr zu spät gewesen seid.
  </div>
  <p class="padding-bottom">
    <a href="{% url 'maps:add' %}" class="btn btn-primary">Neue Gruppe eintragen</a>
  </p>

  {% if maps %}
    <h2>Eingetragene Gruppen</h2>
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group">
          {% for group in maps %}
            <li class="list-group-item">{{ group.group }} ({{ group.location1 }})</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% else %}
    <p>Scheinbar hat sich noch keine Gruppe eingetragen...</p>
  {% endif %}

{% endblock %}
