{% extends "base.html" %}

{% load staticfiles %}
{% load intern_tags %}
{% load bootstrap_tags %}

{% block heading %}
  <h1>Neue Gruppe hinzufügen</h1>
{% endblock %}

{% block sources %}
{% endblock %}

{% block content %}
  <p>
    Wir möchten eine interaktive Karte erstellen! Das Ergebnis könnte (bei ausreichender Mitarbeit) in der
    100. Kompassnadel erscheinen. Also fleißig mitmachen und tragt euch fleißig in die Karte ein!
  </p>

  <form action="" method="post">
    {% csrf_token %}

    <h2>Allgemein</h2>
    <fieldset>
      {{ form.boysgirls|form_item|safe }}
      {{ form.group|form_item|safe }}
      {{ form.leader|form_item|safe }}
      {{ form.subgroups|form_item|safe }}
      {{ form.website|form_item|safe }}
      {{ form.special|form_item|safe }}
      {{ form.other|form_item|safe }}
    </fieldset>

    <h2>Örtlichkeiten</h2>
    <p>
      Hier können bis zu drei Orte angegeben werden, welche das Zentrum eurer Gruppe darstellen. Dabei genügt es
      den Namen der Stadt / des Orts anzugeben, bspw. "Standort 1: Remscheid". Der Standort wird dann automatisch
      berechnet und in der Karte angezeigt.
    </p>
    <fieldset>
      {{ form.location1|form_item|safe }}
      {{ form.location2|form_item|safe }}
      {{ form.location3|form_item|safe }}
    </fieldset>

    <div class="padding-bottom"></div>

    <input type="submit" value="Abschicken" class="btn btn-default">
  </form>

  <script type="application/javascript">
    $(document).ready(function() {
      $(".form-group input").addClass("form-control");
      $(".form-group select").addClass("form-control");
      $(".form-group textarea").addClass("form-control");
      // $(".footer-wrapper").hide();
    });
  </script>
{% endblock content %}