{% extends "base.html" %}

{% load intern_tags %}
{% load bootstrap_tags %}
{% load markdownify %}

{% block heading %}
  <h1>{{ program.title }}</h1>
{% endblock %}

{% block content %}
  {% if program.target %}
    <h2 class="h4">Wie alt sind meine Mädchen / Jungen?</h2>
    {{ program.target }}
  {% endif %}

  {% if program.preparation %}
    <h2 class="h4">Was habe ich vorbereitet?</h2>
    {{ program.preparation|markdownify|safe }}
  {% endif %}

  {% if program.execution %}
    <h2 class="h4">Was haben wir gemacht?</h2>
    {{ program.execution|markdownify|safe }}
  {% endif %}

  {% if program.greatness %}
    <h2 class="h4">Was war daran so toll?</h2>
    {{ program.greatness|markdownify|safe }}
  {% endif %}

  {% if program.file1 or program.file2 or program.file3 %}
    <h2 class="h3">Material</h2>
    <ul>
      {% if program.file1 %}
        <li><a href="{{ program.file1.url }}">{{ program.file1 }}</a></li>
      {% endif %}
      {% if program.file2 %}
        <li><a href="{{ program.file2.url }}">{{ program.file2 }}</a></li>
      {% endif %}
      {% if program.file3 %}
        <li><a href="{{ program.file3.url }}">{{ program.file3 }}</a></li>
      {% endif %}
    </ul>
  {% endif %}

  {% if program.contact_name %}
    <h2 class="h3">Ansprechpartner</h2>
    <div class="row">
      <div class="col-md-4">
        <h3 class="h5">Name</h3>
        {{ program.contact_name }}
      </div>
      {% if program.contact_group %}
        <div class="col-md-4">
          <h3 class="h5">Gruppe</h3>
          {{ program.contact_group }}
        </div>
      {% endif %}
      {% if program.contact_mail %}
        <div class="col-md-4">
          <h3 class="h5">E-Mail</h3>
          <a href="mailto:{{ program.contact_mail }}">{{ program.contact_mail }}</a>
        </div>
      {% endif %}
    </div>
  {% endif %}

{% endblock %}