{% extends "base.html" %}

{% load intern_tags %}
{% load bootstrap_tags %}
{% load markdown_deux_tags %}

{% block heading %}
  <h1>{{ program.title }}</h1>
{% endblock %}

{% block content %}
  {% if program.target %}
    <h4>Wie alt sind meine Mädchen / Jungen?</h4>
    {{ program.target }}
  {% endif %}

  {% if program.preparation %}
    <h4>Was habe ich vorbereitet?</h4>
    {{ program.preparation|markdown|safe }}
  {% endif %}

  {% if program.execution %}
    <h4>Was haben wir gemacht?</h4>
    {{ program.execution|markdown|safe }}
  {% endif %}

  {% if program.greatness %}
    <h4>Was war daran so toll?</h4>
    {{ program.greatness|markdown|safe }}
  {% endif %}

  {% if program.file1 or program.file2 or program.file3 %}
    <h3>Material</h3>
    <ul>
      {% if program.file1 %}
        <li><a href="{{ program.file1.url }}">{{ program.file1 }}</a></li>
      {% endif %}
      {% if program.file2 %}
        <li><a href="{{ program.file2.url }}">{{ program.file2 }}</a></li>
      {% endif %}
      {% if program.file3 %}
        <li><a href="{{ program.file3.url }}">{{ program.file3 }}</a></li>
      {% endif %}
    </ul>
  {% endif %}

  {% if program.contact_name %}
    <h3>Ansprechpartner</h3>
    <div class="row">
      <div class="col-md-4">
        <h5>Name</h5>
        {{ program.contact_name }}
      </div>
      {% if program.contact_group %}
        <div class="col-md-4">
          <h5>Gruppe</h5>
          {{ program.contact_group }}
        </div>
      {% endif %}
      {% if program.contact_mail %}
        <div class="col-md-4">
          <h5>E-Mail</h5>
          <a href="mailto:{{ program.contact_mail }}">{{ program.contact_mail }}</a>
        </div>
      {% endif %}
    </div>
  {% endif %}

{% endblock %}