#dpb-carousel img.carousel-item {
  aspect-ratio: 1440 / 280;
}

.carousel-indicators {
  position: static;
  list-style: none;
}

.carousel-indicators[data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}